{% extends 'header.html' %}
{% load static %}
{% block content %}
<html>
	<head>
 		<title>Thanks for your order!</title>
	</head>
	<body>
 		<div class="container text-center">
 			<p>
				<b><h3 style="color: darkgreen;"><i class="fa-solid fa-circle-check mx-3" style="color: #1e8910;"></i>Payment Successful</h3></b>
				<p style="color: darkblue;font-weight: 700;font-size: 17px; margin-block: 20px;">Thank you for your purchase!</p>
				<p style="color: darkgrey;"> If you have any questions, please let us know through emails.</p>
 			</p>
 		</div>
	</body>
</html>
{% endblock %}